*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--van-gray-1);
  color-scheme: light;
  color: #222;
}

html.dark {
  background: #222;
  color-scheme: dark;
  color: #fff;
}

#app {
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

input,
textarea {
  font-size: 16px;
}
